.fill-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.myfarmbot-side-nav {
	background-color: #0dc61d;
	width: 25%;
	padding: 0 5rem;
}

.container-relative {
	position: relative;
	height: 100%;
	overflow: auto;
}

.project-descr {
	margin-top: 5rem;
	color: #fff
}

.project-descr h1 {
	font-size: 4rem
}

.project-descr p {
	font-size: 2.5rem
}

.feature-container {
	margin-top: 2.5rem;
	color: #fff;
}

.feature-container li {
	font-size: 2.7rem;
	line-height: 4rem
}

.myfarmbot-content {
	width: 75%;
	padding: 0 7rem;
}

.match-h2 {
	text-align: center;
	color: #0dc61d;
	font-size: 5rem
}

.match-form .form-group span{
	font-size: 2.7rem;
	line-height: 3rem
}

.match-form .form-group input {
	font-size: 2rem;
	height: 3.5rem;
}

.forget-password {
	font-size: 1.5rem;
}

.facebook-login {
	margin: 2rem 0;
}

.register-form {
	margin-top: 2rem;
}

.managementNavbar h1 {
	color: #fff;
	font-size: 2.5rem;
	text-align: center
}

.chart {
	background: #eee;
	padding: 3px;
}

.chart div {
	width: 0;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 5px;
	color: white;
	box-shadow: 2px 2px 2px #666;
}

.field-container {
	height: 100%;
	overflow: auto;
}

.field {
	margin: auto
}

.field tbody tr td {
  width: 5rem;
  height: 5rem;
}

.plant-container {
  padding-left: 3rem
}

.plant-total {
  font-size: 2rem
}

.plant-list {
  list-style-type: none
}

.plant-name {
  font-size: 1.8rem
}

.sequence-container {
  padding-left: 3rem
}

.sequence-total {
  font-size: 2rem
}

.sequence-list {
  list-style-type: none
}

.sequence-name {
  font-size: 1.8rem
}

.done-true {
  color: red
}

.edit-button {
  font-color:#fff;
  font-size: 2rem
}

@media screen and (max-width: 768px) {
    .myfarmbot-side-nav {
	display: none;
    }

    .myfarmbot-content {
    	width: 100%;
    	padding: 0 3rem;
    }

    #saveMachineConfig {
    	width: 100%;
    }
}
