<div class="animated bounceInRight manageMachine-page" ng-controller="ManageMachine">
<tabsManagement>
	<paneManagement title="我的機器">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h2>我的機器們</h2></div>
				<table class="table table-hover table-striped">
					<tbody>
						<tr>
							<td><h3>自動種植機一號</h3></td>	
						</tr>
						<tr>
							<td><h3>種草莓專機</h3></td>	
						</tr>
						<tr>
							<td><h3>西瓜好好吃</h3></td>
						</tr>
						<tr>
							<td><h3>大麻真好賺</h3></td>	
						</tr>
					</body>
				</table>	
			</div>
		</div>
	</paneManagement>
	<paneManagement title="我的植物">
		<div class="container-fluid">
      			<div class="col-md-6 field-container">
      				<table class="table-bordered field">
      				</table>
      			</div>
			<div class="col-md-6 plant-container">
				 <h2>植物們</h2>
				    <div ng-controller="TodoListController as todoList">
					   	<span class="plant-total">目前有{{todoList.todos.length}}個植物</span>
						   <button type="button" class="btn btn-danger" href="" ng-click="todoList.archive()">刪除</button> 
							<ul class="plant-list">
								<li ng-repeat="todo in todoList.todos">
										<form name="plantName">
										<label class="checkbox">
										<input type="checkbox" ng-model="todo.done">
										<span class="done-{{todo.done}} plant-name" ng-show="todo.edit!=true">{{todoList.getText($index)}}</span>
										<input type="text" ng-model="todo.text" ng-show="todo.edit==true" name="plantName" required />
										<span  class="error-message" ng-show="plantName.plantName.$invalid">名稱不能為空</span>
										<a href='' class='edit-button' ng-click="todoList.edit($index)" ng-show="todo.edit!=true"><i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i></a>
										<a  href='' class='edit-button' ng-click="todoList.edit($index)" ng-show="todo.edit==true && plantName.plantName.$valid"><i class="fa fa-check-square fa-fw" aria-hidden="true"></i></a>
									</label>
									</form>
								</li>
							</ul>
							<form ng-submit="todoList.addTodo()">
								<input type="text" ng-model="todoList.todoText"  size="30"  placeholder="植物名稱" required />
								<input class="btn btn-primary" type="submit" value="add" />
							</form>
						</div>
			</div>
		</div>		
	</paneManagement>
	<paneManagement title="事件">
	  <div class="container-fluid">
      			<div class="col-md-6 field-container">
      				<table class="table-bordered field" ng-controller="FieldController">
      				</table>
      			</div>
			<div class="col-md-6 sequence-container">
				 <h2>排程們</h2>
				    <div ng-controller="SequenceListController as sequenceList">
					   	<span class="sequence-total">目前有{{sequenceList.sequences.length}}個排程</span>
							<!--排程的collapse-->
							<div id="accordion" class="panel-group">
								<div class="panel paanl-default" ng-repeat="sequence in sequenceList.sequences">
									<div class="panel-heading" role="tab">
										<form name="sequenceName">
														<a class="sequence-name" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapse" ng-href="/#collapse{{$index}}" ng-show="sequence.edit!=true">
                          {{sequence.name}}
                        </a>
										  <input type="text" ng-model="sequence.name" ng-show="sequence.edit==true" required/> 
										<a href='' class='edit-button' ng-click="sequenceList.edit($index)" ng-show="sequence.edit!=true"><i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i></a>
										<a href='' class='edit-button' ng-click="sequenceList.edit($index)" ng-show="sequence.edit==true"><i class="fa fa-check-square fa-fw" aria-hidden="true"></i></a>
									 </form>
                  </div>
									<div class="panel-collapse collapse" id="collapse{{$index}}" role="tabpanel">
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="action in sequence.actions">
															<span> {{action.name}}</span>
                      </li>
                    </ul>
                  </div>
								</div>
							</div>
							<form ng-submit="sequenceList.addSequence()">
								<input type="text" ng-model="sequenceList.sequenceName"  size="30"  placeholder="排程名稱" required />
								<input class="btn btn-primary" type="submit" value="add" />
							</form>
						</div>
			</div>
		</div>		

	</paneManagement>
	<paneManagement title="環境監測">
	</paneManagement>
	<paneManagement title="帳戶">
	</paneManagement>
</tabsManagement>
</div>



